/*Universal Settings*/
html {
    scroll-behavior: smooth;
    background: #fff;
}


/*Body Settings*/
body {
    background: #fff;
    color: var(--color-text);
    font-family: Helvetica, sans-serif;
    line-height: var(--line-height);
    margin: 30px;
    overflow-x: hidden;
    padding: 0;
    border-bottom: 15px solid #5E2B97;
}

#main-sections {
  border-top: 1px dotted #ccc;
}

.indiv-sections {
  display: flex;
  gap: 50px;
  flex-grow: 1;
  flex-basis: 0;
  background: #f2f2f2;
  margin-top: 25px;
  padding: 25px;
  height: 250px;
}

/*Section-1 Settings*/
.indiv-sections section {

  flex-grow: 1 2;
  flex-basis: auto;
  background: #f2f2f2;
  border-radius: 20px;
  margin-top: 25px;
}

.indiv-sections section .section-1-img {
  background: no-repeat center / contain url('Images/image(20).png');
  height: 100%;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;

}



/*Navigation Settings*/
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

a:link {
    color: #5E2B97;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #5E2B97;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #5E2B97;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #5E2B97;
    background-color: transparent;
    text-decoration: underline;
  }


/*Sticky Header Settings*/
.sticky {
    background: #f2f2f2;
    position: sticky;
    top: 0;
    padding: 10px;
    border-top: 15px solid #5E2B97;
    border-bottom: 15px solid #5E2B97;
}

.logo{
    border-radius: 20px;
}

